.round-style {
  border-radius: 0.5rem;               /* This is `rounded-lg` */
  border-top-left-radius: 0rem;        /* This is `rounded-tl-none` */
  border-bottom-right-radius: 0rem;    /* This is `rounded-br-none` */
}

@font-face {
  font-family: 'Cause';
  src: url('/share/static/fonts/Cause-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/share/static/fonts/Jost-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Cause', sans-serif;
}

h1 {
  font-family: 'Jost', sans-serif;
}

.font-heading {
  font-family: 'Jost', sans-serif;
}